/* Stile pagina */
* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Stile header */
header {
    height: 80px;
    width: 100%;
    background-color: #000;
    position: relative;
}

.settings {
    position: absolute;
    top: 5px;
    right: 5px;   
}

.settings a {
    display: inline-block;
    background-color: #4a4a4a;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Stile main */
main {
    height: calc(100vh - 160px);
    width: 100%;
    background-color: #000;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

main div {
    position: relative;
}

main img {
    height: 140px;
    width: 210px;
    border: 3px solid #000;
}

main span {
    position: absolute;
    left: 3px;
    bottom: 13px;
    color: #fff;
    background-color: rgba(150, 150, 150, 0.5);
    font-size: 12px;
    padding: 3px;
}